<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="uri-host" value="http://217.107.108.156:10082" />

    <add key="soapusername" value="sit" />
    <add key="soappassword" value="rZ_GG72XS^Vf55ZW" />

    
    <add key="data-provider-id" value="f40bdc05-d746-42a9-8b5a-2d7d0eaeaf48" />
    <add key="certificate-thumbprint" value="654da58971a8a856effdc057c98bb1a2ab0c7611"/>  
    <add key="container-key" value="$$uuk0XZX" />
    
    <!--
    <add key="data-provider-id" value="01c92120-c137-4217-933e-d41fb33e03bf" />
    <add key="certificate-thumbprint" value="654da58971a8a856effdc057c98bb1a2ab0c7611" />
    <add key="container-key" value="lTZoNfh0VLgMn3gs" />
    -->
    
    <add key="max-part-size" value="5242880" />
    <add key="temp-patch" value="D:\Temp"/>

    <!--code-first database settings-->
    <add key="generate_tables" value="true" />
    <!--none|drop|export|update|validate|all-->
    <add key="generate_tables_action" value="all-*" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>