<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="base_url" value="http://localhost:9100/" />
    <add key="uri-host" value="http://217.107.108.147:10082" />

    <add key="soapusername" value="sit" />
    <add key="soappassword" value="rZ_GG72XS^Vf55ZW" />

    <add key="data-provider-id" value="f81f5928-d371-4735-ad6b-9516104acd53" />
    
    <add key="max-part-size" value="5242880" />

    <!--code-first database settings-->
    <add key="generate_tables" value="true" />
    <!--none|drop|export|update|validate|all-->
    <add key="generate_tables_action" value="all-*" />
  </appSettings>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
        <dependentAssembly>
    
            <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
    
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ConnectionString" connectionString="User=SYSDBA;Password=fireburd;Pooling=true;Database=MonitorConceptDB.dbf;Dialect=3;Charset=UTF8;ServerType=1;" />
  </connectionStrings>
</configuration>